In [9]:
import pandas as pd
import os

In [10]:
DIR = "C:/Users/prpau/Downloads/MBA/Arquiteto/Mod2/BASE_TP"

In [11]:
lista = []
list_path = os.listdir(DIR)
list_path[:3]

['2020-01-01.csv', '2020-01-02.csv', '2020-01-03.csv']

In [12]:
df0 = pd.DataFrame()
for arquivo in list_path:
    caminho = os.path.join(DIR, arquivo)
    df = pd.read_csv(caminho, sep = '|', encoding = 'latin-1')
    df_final = pd.concat([df0, df])
    df0 = df_final
    #lista.append(df)
    
df_final

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte
2,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte
3,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV
4,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros
5,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros

In [35]:
df_final.to_csv(DIR+'/completo.csv', sep = ';', encoding = 'latin-1', index= False)

In [ ]:
import pandas as pd
import os
    
def arquivos_em_df (diretorio):
        
    list_path = os.listdir(diretorio)
    
    df0 = pd.DataFrame()
    
    for arquivo in list_path:
        
        caminho = os.path.join(diretorio, arquivo)
        df = pd.read_csv(caminho, sep = '|', encoding = 'latin-1')
        df_final = pd.concat([df0, df])
        df0 = df_final
        
    return df_final

In [13]:
import sys
sys.path.append('C:/Users/prpau/Downloads/MBA/Arquiteto/Mod2')
import Transforma

In [46]:
Transforma.arquivos_em_df(DIR)

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte
2,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte
3,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV
4,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros
5,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros

In [48]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\prpau\anaconda3\lib\site-packages (1.4.32)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: greenlet!=0.4.17 in c:\users\prpau\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [31]:
import MySQLdb
import sqlalchemy

In [45]:
user = 'PauloIGTI'
password = 'musica'
host = 'localhost'
database = 'coletaigti'

string_conexao = f'mysql://{user}:{password}@{host}/{database}'

In [46]:
engine = sqlalchemy.create_engine(string_conexao)
connect = engine.connect()

In [47]:
df = Transforma.arquivos_em_df(DIR)
df

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte
2,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte
3,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV
4,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros
5,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros

In [48]:
df_pessoas = df[['cod_pessoa','genero', 'data_nascimento']].drop_duplicates()
df_hobbies = list(df['hobbies'].unique())
df_clima = list(df['clima'].unique())
df_bebidas = list(df['bebida_favorita'].unique())
df_animal = list(df['animal_estimacao'].unique())

In [ ]:
for i in df_pessoas.itertuples():
    
    id_pessoa = i.cod_pessoa
    genero = i.genero
    dt = str(i.data_nascimento)
    
    try:
        query = f""" INSERT INTO tb_pessoa (id_pessoa, genero, data_nasc)
                    VALUES ('{id_pessoa}', '{genero}', '{dt}')"""
        
        connect.execute(query)
        
    except Exception as e:
        print(f'Não foi inserido o registro de {id_pessoa}. Erro: {e}')

In [68]:
for i in df_hobbies:
    
    try:
        query = f"""  INSERT INTO tb_hobbies (hobbies)
                        VALUES ('{i}')"""
        
        connect.execute(query)
        
    except Exception as e:
        
        print(f'Não foi inserido o registro de {i}. Erro: {e}')

In [56]:
    
for i in df_clima:

    try:
        query = f"""  INSERT INTO tb_clima (clima)
                        VALUES ('{i}')"""

        connect.execute(query)

    except Exception as e:

        print(f'Não foi inserido o registro de {i}. Erro: {e}')

In [57]:
for i in df_bebidas:

    try:
        query = f"""  INSERT INTO tb_bebidas (bebida)
                        VALUES ('{i}')"""

        connect.execute(query)

    except Exception as e:

        print(f'Não foi inserido o registro de {i}. Erro: {e}')

In [58]:
for i in df_animal:

    try:
        query = f"""  INSERT INTO tb_animal_estimacao (animal_estimacao)
                        VALUES ('{i}')"""

        connect.execute(query)

    except Exception as e:

        print(f'Não foi inserido o registro de {i}. Erro: {e}')

In [66]:
df_animal2 = pd.read_sql('tb_animal_estimacao', con = connect)
df_animal2.set_index(df_animal2.animal_estimacao)['id_animal_estimacao'].to_dict()

{'peixe': 1, 'tartaruga': 2, 'gato': 3, 'cachorro': 4}

In [67]:
df_final.to_sql('stg_pesquisa', con = connect, schema = 'coletaigti')

2127